body {
  background: BurlyWood;
}

p {
  color: blue;
  text-align:center;
  font-size:30px;
}


button {
  padding: 0.75rem 1rem;
  font-size: 1.1rem;
  line-height: 1rem;
  font-weight: 500;
  height: 2.75rem;
  align-items: center;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  text-decoration: none;
  color: #000000;
  white-space: nowrap;
  margin-left: auto;
}


.fuck {
  transform: translateY(20px);
  
}
